/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');
/* General Styles */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #BCD8C1;
}

.heading {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: #bcd8c1;
    background-color: #e87070;
    text-align: center;
}
.score {
    background-color: #e9d985;
    color: #222e50;
}
#quiz-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #439a86;
}
#question-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcd8c1;
    width: 70%;
    margin: 100px;

}
.question-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.question-number {
    background-color: #222e50;
    color: #ffffff;
    width: 100%;
}
.score, .question-number {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-option, .btn-submit-answer {
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background-color: #222e50;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.answer-option:hover, .btn-submit-answer:hover {
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #222e50;
    border: 2px solid #222e50;
}
#question {
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    width: 100%;
    background-color: #6c7fb4;
    border: 2px solid #222e50;
}